# http://www.jeffgeerling.com/blog/testing-ansible-roles-travis-ci-github
sudo: required
language: python
services:
  - docker
before_install:
  - sudo apt-get -qq update

install:
  - sudo apt-get install -y python-pip libssl-dev libffi-dev
  - pip install molecule
  - pip install docker-py
    #- ansible-galaxy install -r requirements.yml

script:
  - molecule --debug create
  - molecule converge
  - molecule syntax
  - molecule idempotence

notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
